{% extends "header.html" %}
{% block body %}
                    <button type="button" class="btn btn-info btn-lg-block w3ls-btn px-4 text-capitalize mr-2" data-toggle="modal"
						aria-pressed="false" data-target="#exampleModal">
			 			Add Notice
					</button>
					<button type="button" class="btn btn-info1 btn-lg-block w3ls-btn1 px-4 text-capitalize" data-toggle="modal"
						aria-pressed="false" data-target="#exampleModal1">
						Add Events
					</button>
                    <button type="button" class="btn btn-info1 btn-lg-block w3ls-btn1 px-4 text-capitalize" data-toggle="modal"
						aria-pressed="false" data-target="#exampleModal1">
						Add Placement
					</button>
                    <button type="button" class="btn btn-info1 btn-lg-block w3ls-btn1 px-4 text-capitalize" data-toggle="modal"
						aria-pressed="false" data-target="#exampleModal1">
						Add Technoparv
					</button>

{% endblock %}