{% extends "header.html" %}
{% block body %}
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Contact No.</th>
      <th scope="col">Email</th>
       <th scope="col">Feedback</th>
    </tr>
  </thead>
  <tbody>
   {% for row in value %}
    <tr>
      <th scope="row">{{ row[0] }}</th>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
     <td>{{ row[3] }}</td>
     <td>{{ row[4] }}</td>
    </tr>
  {% endfor %}


  </tbody>
</table>
  </div>
{% endblock %}