{% extends "header.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="well">
          <div class="alert alert-success" role="alert">
              {{ message }}
          </div>
      </div>
      {% endfor %}
        {% endif %}
      {% endwith %}
    <form action="{{ url_for('feedback') }}" method="post">
    <h2>Feedback</h2>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Name</label>
        <input type="text" name="name" placeholder="Enter Your Name" class="form-control">
      </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Contact no</label>
        <input type="number" name="contact" placeholder="Enter Your contact no" class="form-control">
      </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter Your Email Id" class="form-control">
      </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Feedback</label>
        <textarea class="form-control"  rows="6" name="feedback" placeholder="Enter your feedback"></textarea>
      </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">

        <input type="submit" name="" value="Submit" class="btn btn-primary">
        <input type="submit" name="" value="Cancel" class="btn btn-danger">
      </div>

      <div class="col-sm-1"></div>
    </div>
    </form>
  </div>
</div>
  <div class="col-sm-3"></div>
</div>
  </div>

{% endblock %}