
<!DOCTYPE html>
<html lang="en">
<head>
<title>Dr. Ghali College Gadhinglaj</title>
	
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Eduversity Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
    
	<!-- css files -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }} "> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }} " type="text/css" media="all" /> <!-- Style-CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.css') }}"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	
	<link rel="stylesheet" href="css/jquery.countdown.css" />

	<!--web font-->
	<link href="//fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
	<!--//web font-->

</head>

<body>


<!-- header -->
<header>
	<div class="container">
		<!-- top header -->
		<section class="row top_header pt-3">
			<div class="col-lg-6">
			</div>
				<div class="col-lg-6 buttons">

					<button type="button" class="btn btn-info btn-lg-block w3ls-btn px-4 text-capitalize mr-2" data-toggle="modal"
						aria-pressed="false" data-target="#exampleModal">
			 			Login
					</button>

				</div>
		</section>
		<!-- top header -->

		<!-- nav -->
		<nav class="navbar navbar-expand-lg navbar-light py-sm-4 py-2">
			<!-- logo -->
			<h1>
				<a class="navbar-brand" href="index.html"> <i class="fab fa-affiliatetheme"></i>
					Computer Science
				</a>
			</h1>
			<!-- //logo -->
			<button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- main nav -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-lg-auto text-center">
					<li class="nav-item active  mr-lg-3">
						<a class="nav-link" href="{{ url_for('index') }}">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item mr-lg-3">
						<a class="nav-link" href="{{ url_for('about') }}">about</a>
					</li>
					
					<li class="dropdown nav-item mr-lg-3">
						<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle ">
							Events
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li class="nav-item">
								<a href="{{ url_for('noticeview') }}" class="nav-link">Notice</a>
							</li>
							<li class="nav-item">
								<a href="{{ url_for('webinarview') }}" class="nav-link">Webinars</a>
							</li>
							<li class="nav-item">
								<a href="{{ url_for('placementview') }}" class="nav-link">Placement</a>
							</li>
							<li class="nav-item">
								<a href="{{ url_for('technoparvview') }}" class="nav-link">Technoparv</a>
							</li>

						</ul>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link" href="{{ url_for('contact') }}">contact</a>
					</li>
					<li class="nav-item mr-3">
						<a class="nav-link" href="{{ url_for('feedback') }}">Feedback</a>
					</li>
					<!-- search --->
					<div class="search-bar-agileits">
						<div class="cd-main-header">
							<ul class="cd-header-buttons">
								<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
							</ul>
							<!-- cd-header-buttons -->
						</div>
						<div id="cd-search" class="cd-search">
							<form action="#" method="post">
								<input name="Search" type="search" placeholder="Click enter after typing...">
							</form>
						</div>
					</div>
					<!-- search --->
				</ul>
			</div>
			<!-- //main nav -->
		</nav>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->

<!-- banner -->
<section class="banner layer" id="home">
	<div class="container">
		<div class="banner-text">
			<div class="slider-info mb-4">
				<div class="agileinfo-logo">
					<h3>
						 Practice makes you better
					</h3>
				</div>
				<h3 class="txt-w3_agile mb-3"> Its time to master your skills</h3>
				<a href="{{ url_for('course') }}" class="mr-2"><i class="fas fa-graduation-cap"></i>Languages</a>
				<a href="{{ url_for('about') }}"><i class="fas fa-book"></i> Read More</a>
			</div>
			<!-- To bottom button-->
			<div class="thim-click-to-bottom">
				<div class="rotate">
					<a href="#welcome" class="scroll">
						<i class="fas fa-angle-double-down"></i>
					</a>
				</div>
			</div>
			<!-- //To bottom button-->

		</div>
	</div>
</section>
<!-- //banner -->

<!-- welcome -->
<section class="welcome py-5" id="welcome">
	<div class="container py-sm-3">
		<h3 class="heading text-capitalize mb-lg-5 mb-4"> HELLO! <span>Here we are</span> </h3>
		<div class="row welcome-grids">
			<div class="col-lg-4 mb-lg-0 mb-5">
				<h4>Get Us Know...</h4>
				<p>We the department of Computer Science are here to provide what you want.</p>
				<div class="welcome-button mt-4">
					<a href="{{ url_for('about') }}">Read More</a>
				</div>
			</div>
			
			
		</div>
	</div>
</section>
<!-- welcome -->

<!-- welcome bottom -->
<section class="welcome-bottom">
	<div class="image-layer py-5">
		<div class="container py-sm-3">
		<h3 class="heading text-capitalize mb-lg-5 mb-4"> <span> Main Features And Benefits</span> </h3>
		<div class="row bottom-grids">
			<div class="row col-lg-4 mb-lg-0 mb-5">
				<div class="col-lg-3 col-2">
					<i class="fab fa-studiovinari"></i>
				</div>
				<div class="col-lg-9 col-10">
					<h4>Experienced Staff</h4>
					
				</div>
			</div>
			<div class="row col-lg-4 mb-lg-0 mb-5">
				<div class="col-lg-3 col-2">
					<i class="fas fa-book"></i>
				</div>
				<div class="col-lg-9 col-10">
					<h4>Spacious Library</h4>
					
				</div>
			</div>
			<div class="row col-lg-4 mb-lg-0 mb-5">
				<div class="col-lg-3 col-2">
					<i class="fa fa-desktop"></i>
				</div>
				<div class="col-lg-9 col-10">
					<h4>Computer Lab</h4>
					
				</div>
			</div>
			
		</div>
		</div>
	</div>
</section>
<!-- //welcome bottom -->






<!-- footer -->	
<footer>
	<div class="container-fluid p-sm-5 py-5">
		<div class="row footer-gap">
			<div class="col-lg-3 col-sm-6">
				<h3 class="text-uppercase mb-3">Address</h3>
				<address class="mb-0">
					<p><strong>Headquarters:</strong></p>
					<p class="mb-3"><i class="fas fa-map-marker"></i> Gadhinglaj <br>Kolhapur, Maharashtra</p>
					<p><i class="fas fa-clock"></i> Timings : 7 a.m to 4 p.m</p>
					<p><i class="fas fa-phone"></i> 2327 222119</p>
					<p><i class="fas fa-envelope-open"></i> <a href="mailto:info@example.com">drghalicollege@gmail.com</a></p>
					<p><i class="fas fa-fax"></i> 2327 224419 </p>
				</address>
			</div>
			
		
	
			<div class="col-lg-2 col-md-4 col-sm-6 mt-lg-0 mt-sm-5 mt-4">
				<h3 class="text-uppercase mb-3"> Follow us</h3>
				<p class="mb-4">Facebook</p>
				<ul class="social mt-lg-0 mt-3">
					<li class="mr-1"><a href="https://www.facebook.com/DrGhali-CollegeGadhinglaj-229992963860096/"><span class="fab fa-facebook-f"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright pb-5 text-center">
		<p>© 2022 All Rights Reserved | Design by Shubham Godse | <a href="http://www.ghalicollege.edu.in" target="_blank">Ghali College</a></p>
	</div>
</footer>
<!-- footer -->
<!-- Login modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-uppercase" id="exampleModalLabel1">Login</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form  action="{{ url_for('login') }}" method="post" class="p-3">
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">User Name</label>
							<input type="text" class="form-control" placeholder="User Name" name="Name" id="recipient-name" required="">
						</div>
						<div class="form-group">
							<label for="recipient-name1" class="col-form-label">Password</label>
							<input type="password" class="form-control" placeholder="Password" name="upass" id="recipient-name1" required="">
						</div>
						<div class="right-w3l mt-4 mb-3">
							<input type="submit" class="form-control" value="Login">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- //Login modal -->




	<!-- js -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->	
	
	<!-- search-bar -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<!-- //search-bar -->
	
	<!-- Countdown-Timer-JavaScript -->
	<script src="{{ url_for('static', filename='js/simplyCountdown.js') }}"></script>
	<!-- easy to customize -->
	<script>
		$('#simply-countdown-losange').simplyCountdown({
			year: 2020,
			month: 1,
			day: 06
		});
	</script>
	<!-- //Countdown-Timer-JavaScript -->
	
	<!-- start-smoth-scrolling -->
	<script src="{{ url_for('static', filename='js/SmoothScroll.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/easing.js') }}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->

</body>
</html>
