{% extends "header.html" %}
{% block body %}
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>

      <th scope="col">Image/PDF</th>
      <th scope="col">Description</th>

    </tr>
  </thead>
  <tbody>

  {% for row in value %}
    <tr>
      <th scope="row">{{ row[0] }}</th>
      <td><img src="{{ row[1] }}" height="200" width="200"></td>
      <td>{{ row[2] }}</td>

    </tr>
  {% endfor %}

  </tbody>
</table>
  </div>
{% endblock %}

