{% extends "admin_header.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
  <div class="container">
    <form action="{{ url_for('notice') }}" method="post">
    <h2>Notice</h2>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Image</label>
        <input type="file" name="image" class="form-control">
    </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <label>Description</label>
          <textarea class="form-control"  rows="6" name="descr" placeholder="Description"></textarea>
        </div>

        <div class="col-sm-1"></div>
      </div>


    <br>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">

        <input type="submit" name="" value="Submit" class="btn btn-primary">
        <input type="submit" name="" value="Cancel" class="btn btn-danger">
      </div>

      <div class="col-sm-1"></div>
    </div>
      </form>
  </div>
</div>
  <div class="col-sm-3"></div>
</div>
  </div>

{% endblock %}