{% extends "admin_header.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
  <div class="container">
      <form action="{{ url_for('technoparv') }}" method="post">
    <h2>Technoparv</h2>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Technoparv Year</label>
        <input type="text" name="year" placeholder="Enter Technoparv Year" class="form-control">
      </div>

      <div class="col-sm-1"></div>
    </div>


    <br>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Image</label>
        <input type="file" name="image" class="form-control">
    </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
     <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Image</label>
        <input type="file" name="image1" class="form-control">
    </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
     <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Image</label>
        <input type="file" name="image2" class="form-control">
    </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
     <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Image</label>
        <input type="file" name="image3" class="form-control">
    </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
     <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Image</label>
        <input type="file" name="image4" class="form-control">
    </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
     <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Image</label>
        <input type="file" name="image5" class="form-control">
    </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
     <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Image</label>
        <input type="file" name="image6" class="form-control">
    </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
     <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Image</label>
        <input type="file" name="image7" class="form-control">
    </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
     <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Image</label>
        <input type="file" name="image8" class="form-control">
    </div>

      <div class="col-sm-1"></div>
    </div>
    <br>
     <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Image</label>
        <input type="file" name="image9" class="form-control">
    </div>

      <div class="col-sm-1"></div>
    </div>
    <br>

      <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Image</label>
        <input type="file" name="image10" class="form-control">
    </div>

      <div class="col-sm-1"></div>
    </div>
    <br>

      <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <label>Image</label>
        <input type="file" name="image11" class="form-control">
    </div>

      <div class="col-sm-1"></div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <label>Description</label>
          <textarea class="form-control"  rows="6" name="descr" placeholder="Description"></textarea>
        </div>

        <div class="col-sm-1"></div>
      </div>
      <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <label>Guest</label>
          <input type="text" name="guest" placeholder="Guest" class="form-control">
      </div>

        <div class="col-sm-1"></div>
      </div>
    <br>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">

        <input type="submit" name="" value="Submit" class="btn btn-primary">
        <input type="submit" name="" value="Cancel" class="btn btn-danger">
      </div>

      <div class="col-sm-1"></div>
    </div>
          </form>
  </div>
</div>
  <div class="col-sm-3"></div>
</div>
  </div>

{% endblock %}