{% extends "header.html" %}
{% block body %}
<style>
    .div1

    {
    display: inline-block;
    margin:30px;
    }
</style>
<div class="container">
    {% for row in value%}
    <div class="div1">
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <p>Year :{{ row[1] }}</p>
                <br><br>
                <a href="{{ row[2] }}" ><img src="{{ row[2] }}" height="200" width="200"></a>
                <a href="{{ row[3] }}" ><img src="{{ row[3] }}" height="200" width="200"></a>
                <a href="{{ row[4] }}" ><img src="{{ row[4] }}" height="200" width="200"></a>
                <a href="{{ row[5] }}" ><img src="{{ row[5] }}" height="200" width="200"></a>
                <br><br><br>
                <a href="{{ row[6] }}" ><img src="{{ row[6] }}" height="200" width="200"></a>
                <a href="{{ row[7] }}" ><img src="{{ row[7] }}" height="200" width="200"></a>
                <a href="{{ row[8] }}" ><img src="{{ row[8] }}" height="200" width="200"></a>
                <a href="{{ row[9] }}" ><img src="{{ row[9] }}" height="200" width="200"></a>
                <br><br><br>
                <a href="{{ row[10] }}" ><img src="{{ row[10] }}" height="200" width="200"></a>
                <a href="{{ row[11] }}" ><img src="{{ row[11] }}" height="200" width="200"></a>
                <a href="{{ row[12] }}" ><img src="{{ row[12] }}" height="200" width="200"></a>
                <a href="{{ row[13] }}" ><img src="{{ row[13] }}" height="200" width="200"></a>
                <br><br><br>
                <p>Description :{{ row[14] }}</p>
                <br><br>
                <p>Guest :{{ row[15]  }}</p>

            </div>
        </div>
    </div>
    {% endfor %}


</div>
{% endblock %}