{% extends "header.html" %}
{% block body %}
<style>
    .div1

    {
    display: inline-block;
    margin:30px;
    }
</style>
<div class="container">
    {% for row in value%}
    <div class="div1">
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <p>Name :{{ row[1] }}</p>
                <br><br>
                <a href="{{ row[2] }}" ><img src="{{ row[2] }}" height="200" width="200"></a>
                <a href="{{ row[3] }}" ><img src="{{ row[3] }}" height="200" width="200"></a>
                <a href="{{ row[4] }}" ><img src="{{ row[4] }}" height="200" width="200"></a>
                <a href="{{ row[5] }}" ><img src="{{ row[5] }}" height="200" width="200"></a>
                <br><br><br>
                <p>Description :{{ row[6] }}</p>
                <br><br>
                <p>Guest :{{ row[7]  }}</p>



            </div>
        </div>
    </div>
    {% endfor %}


</div>
{% endblock %}
